body {
  font-family: Arial; Helvetica; sans-serif;
  font-size: 20px;
  line-height: 1.5;
padding: 10;
margin: 15;
background-color: #f4f4f4;
}

.container{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 25px auto 35px auto;
  overflow: hidden;
}
.image{

}
.description{
margin: auto auto auto 40px;
}
ul{
 margin: 0;
 padding: 0;
}

header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a{
  color: #ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #banner{
  float:left;
}

header #banner h1{
  font-size: 80px;
  margin: 0;
}

header nav{
  float: right;
  margin-top: 70px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

h2 {
  text-align: center;
  color: red;
  font-size: 45px;
}

header a:hover{
  color:#cccccc;
  font-weight: bold;
}

#showcase img{
  max-height:300px;
  max-width:250px;
}
#showcase p{
  font-size: 20px;

}
h3 {
  font-weight: bold;
  color: red;
}
/* boxes */
#boxes{
  margin-top:20px;
  background-color: grey;
  }

#boxes .box{
  float:left;
  text-align: left;
  width: 30%;
  padding: 10px;
  margin: 30px auto auto auto;
}

#boxes .box img{
  width:90px;
}
/* .container {
  display: grid;
  grid-template-columns: 40%;
   grid-column-gap: 10px;
} */
#return{
  position: absolute;
  right: 0px;
}
#return-to-top{
  font-size: 15px;

}

#Cohorts{

}
.footer {
  margin-top: 100px;
  display: flex;
  /* display: block; */
  min-height: 150px;
  background-color:red;
  justify-content: center;
  align-items: center;
}
