body {
  font-family: Ariel; Helvetica; sans-serif;
  font-size: 15px;
  line-height: 1.5;s
padding: 0;
margin: 0;
background-color: #f4f4f4;
}
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
 margin: 0;
 padding: 0;
}

header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a{
  color: #ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #banner{
  float:left;
}

header #banner h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

h2 {
  text-align: left;
  color: red;
  font-size: 45px;
}

header a:hover{
  color:#cccccc;
  font-weight: bold;
}

.footer {
  display: flex;
  /* display: block; */
  min-height: 150px;
  background-color:pink;
  justify-content: center;
  align-items: center;
}

.footer p {
  justify-content: center;
  align-content: center;
  color:#fff;
  padding 40px;
}
