body {
  font-family: Arial; Helvetica; sans-serif;
  font-size: 20px;
  line-height: 1.5;
  padding: 10;
  margin: 15;
  background-color: #c3c3c3;
}

.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 25px auto 35px auto;
  overflow: hidden;
}

.description {
  margin: auto auto auto 40px;
}

.about_Julia {
  margin: auto auto auto 40px;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  background: #35424a;
  color: #ffffff;
  padding-top: 25px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

h2 {
  text-align: center;
  color: white;
  font-size: 45px;
  font-weight: 600;
}

h3 {
  font-weight: bold;
  color: white;
}

header a {
  color: #ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #banner {
  float:left;
}

header #banner h1{
  font-size: 80px;
  margin: 0;
}

header nav {
  float: right;
  margin-top: 70px;
}

header .highlight,
header .current a {
  color:#e8491d;
  font-weight:bold;
}

header a:hover {
  color:#cccccc;
  font-weight: bold;
}

#showcase img {
  max-height:300px;
  max-width:250px;
}

#showcase p {
  font-size: 20px;
  margin-bottom: 15px;
}

/* boxes */
#boxes{
  margin-top:20px;
  background-color: #9e9e9e;
  /* image-orientation: center; */
  }

#boxes .box{
  float:left;
  text-align: left;
  width: 30%;
  padding: 10px;
  margin: 30px auto auto auto;
}

#boxes .box img{
  width:90px;
}

.return-top {
  padding: 1px 0;
  grid-area: return-to-top;
}
#return{
  margin-top: 0px;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . . . . . return-to-top";
}
.return-to-top {
  text-align: center;
}

.return-to-top a:link {
  background-color: #e82413;
  }

.return-to-top a:hover {
  background-color: #c3c3c3;
}
.return-to-top {
  font-size: 18px;
  margin-right: 49px;
  padding: 3px 6px;
  border-radius: 15px;
  background-color: #9e9e9e;
  display: inline-block;
  white-space: nowrap;
}

.return-to-top a {
  color: white;
  text-decoration: none;
}

#about_Julia img {
  max-height:300px;
  max-width:250px;
}

#about_Julia p {
  font-size: 20px;
  margin-bottom: 15px;
}

#cohorts {
  margin-top:50px;
  background-color: #9e9e9e;
  display: block;
  padding: 90px 20px 90px 20px;
}

.cohorts-introduction p{
  font-size: 20px;
  margin-bottom: 15px;
}

.cohort-lists {
  padding: 7px 0;
}

.cohort-list-item {
  margin: 7px;
  padding: 3px 8px;
  border-radius: 10px;
  background-color: #e82413;
  display: inline-block;
  white-space: nowrap;
}

.cohort-list-item a {
  color: white;
  text-decoration: none;
}

/*  */

.resume-center {
  justify-content: center;
}

.julia-resume {
  padding: 7px 0;
}

.resume-juliakg {
  margin: 7px;
  padding: 3px 8px;
  border-radius: 10px;
  background-color: #e82413;
  display: inline-block;
  white-space: nowrap;
}

.resume-juliakg a {
  color: white;
  text-decoration: none;
}
  .resume-juliakg a:hover {
  background-color: #9e9e9e;
}

/*  */

#resume {
  font-size: 15px;
  display: block;

  margin: 0px;
  padding: 90px 8px;
  border-radius: 0px;
  background-color: #9e9e9e;
  align-items: center;
}

li {
    list-style-type: none;
}

.footer {
  margin-top: 0px;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". phone_number links";
  min-height: 150px;
  background-color: #db1a09;
  color: white;
  justify-content: center;
  align-items: center;
}

.footer-phone_number {
  grid-area: phone_number;
  text-align: center;
}

.footer-links {
  grid-area: links;
}
.footer-links a {
  text-decoration: none;
}

.logo-icon {
  width: 40px;
  height: auto;
  margin: 0 0 0 15px;
  /* text-decoration: none; */
  outline: none;
  border: 0px none transparent;
}
