.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.drop_cap {
  grid-column: 1;
  grid-row: 1/3;
  font-size: 100px;
  font-family: "Gorgeous";

  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.lower-case{
    grid-column: 2/4;
    grid-row: 1;
    font-size: 40px;
    font-family: "Arial";
}
